*, *::after, *::before { -webkit-box-sizing : border-box; -moz-box-sizing : border-box; box-sizing : border-box; }
html, body, .container, .scroller { height : 100%; }
.scroller { overflow-y : scroll; }
.scroller, .scroller-inner { position : relative; }
.container { position : relative; overflow : hidden; background : #34495E; }
.menu-trigger { position : relative; padding-left : 60px; font-size : 0.9em; }
.menu-trigger:before { position : absolute; top : 2px; left : 0; width : 40px; height : 6px; background : #FFFFFF; box-shadow : 0 6px #34495E, 0 12px #FFFFFF, 0 18px #34495E, 0 24px #FFFFFF; content : ''; }

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
/* We'll show the first level only */
.no-csstransforms .mp-pusher, .no-js .mp-pusher { padding-left : 300px; }
.no-csstransforms .mp-menu .mp-level, .no-js .mp-menu .mp-level { display : none; }
.no-csstransforms .mp-menu > .mp-level, .no-js .mp-menu > .mp-level { display : block; }